= render 'partials/header'
= render 'partials/nav_bar'
#wrapper
  #sidebar-wrapper
    %ul.sidebar-nav
      %li
        %a#posts_menu_item{:href => posts_path} Posts
      %li
        %a#media_menu_item{:href => media_items_path} Media
      %li
        %a#social_menu_item{:href => "#"} Social
      %li
        %a#social_menu_item{:href => "#"} Calendar
      %li
        %a#social_menu_item{:href => "#"} Theme
  #page-content-wrapper
    .container-fluid
      = yield
:javascript
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    $("#toggle_button").toggleClass("toggled");
  });
