#content_head
  %h1 Post detail
#content_body.group
  %div.col-md-8.post_col
    = image_tag(@post.header_image_url, :alt => @post.title, :class => "post_image")
    %h2.text-center= @post.title
    %h5.text-center= @post.created_at.strftime('%b %d, %Y')
    %div= raw @post.body
:javascript
  $("#posts_menu_item").toggleClass("active")
