/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$material_color : #22A7F0;
$material_color_dark : #1B7DC8;

#material_head {
  background-color: $material_color;
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
  position:static;
}

#content {
  border-radius: 10px;
  border-style: solid;
  border-color: #C0C0C0;
  border-width:1px;
  background-color: white;
  width: 80%;
  height: 500px;
  width: 80%;
  padding: 0;
  position: absolute;
  top: 200px;
  left: 10%;
  overflow: hidden;
}

#content_head {
  background-color: $material_color_dark;
  width: 100%;
  height: 70px;
  margin: 0;
  top:0;
  padding: 15px;
  h1 {
    margin: 0;
    color: white;
  }
}

.navbar-default {
  background-color: $material_color_dark;
  border:none;
  .navbar-brand {
    color:white !important;
  }
  a {
    color: white !important;
  }
}
