@import "bootstrap-sprockets"
@import "bootstrap"
@import "jquery.minicolors"

html, body
  margin: 0
  padding: 0
  min-height: 100%
  height: 100%
  overflow: auto
  background: #F2F2F2

.post-item
  width: 100%
  margin: 0
  height: 100px
  background: white
  border-bottom: 1px solid #C0C0C0

  .post-image
    width: 90px
    margin: 0
    float: left
    height: 100%

  .post-content
    h1
      text-align: left
      font-size: 14pt
      margin-top: 10px
      margin-left: 8px
      margin-bottom: 0
      width: 100%
    p
      text-align: left
      font-size: 12pt
      margin-top: 5px
      margin-left: 8px
      width: calc(100% - 16px)
      height: 42px
      overflow: hidden
    width: calc(100% - 90px)
    margin: 0
    float: left
    height: 100%

.post-item-alternate
  background: #EEEEEE
