= render 'api/v1/partials/header'
- @posts.each_with_index do |post, index|
  - @css = index % 2 == 0 ? '' : 'post-item-alternate'
  .post-item{class: @css}
    .post-image
      = image_tag(post.icon_image_url, :alt => post.title)
    .post-content
      .post-title
        %h1
          = post.title
        .post-excerpt
          = raw(HTML_Truncator.truncate(post.body, 10))

