= render 'partials/header'
= render 'partials/nav_bar'
#wrapper
  #sidebar-wrapper
    %ul.sidebar-nav
      %li
        %a#posts_menu_item{:href => posts_path} Posts
      %li
        %a#media_menu_item{:href => media_items_path} Media
      %li
        %a#bio_menu_item{:href => "/bio"} Bio
      %li
        %a#calendar_menu_item{:href => events_path} Calendar
      %li
        %a#theme_menu_item{:href => "/theme"} Theme
  #page-content-wrapper
    .container-fluid
      = yield
:javascript
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    $("#toggle_button").toggleClass("toggled");
  });
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:494315,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');

